@media screen and (max-width: 900px) {
/*BANNER WASANN*/
*{
    transition: all 0.5s;
}
.bannerWasann p{
    text-align: center;
    font-size: 80px;
    margin-left: 4%;
}

.head-w{
    font-family: osb;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #e3f1f6;
    letter-spacing: 1px;

    
}


.text-welcome p:nth-child(2){
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-overflow: ellipsis;
}

/* WHAT WE DO*/
.banner-whatwedo{

    width: 100%;
    height: 300px;
}
.text-whatwedo{
    width: 600px;
    height: auto;
    position: absolute;
    top: 40%;
    margin-left: 1%;
    z-index: -1;
}



.ConDeWhat{
    width: 100%;
}
.text-whatwedo{
    margin-top: 50px;
    width: 500px;
    left: -20px;
}


.title {
    font-size: 40px;
    left: 70px;
    
}
.text-whatwedo p:nth-child(2){
    width: 50%;
    margin-top: -50px;
    font-size: 12px;
    text-align: center;
    left: 115px; 
}

.blockDetail{
display: none;
}

.blockPic:hover{
    cursor: pointer;
    background-color: #282828;
    transition: 0.5s;
}

/* css for manual slide navigation*/

.navigation-manual{
    right: 30%;
    z-index: 1;

}
#radio1:checked ~ .slider{
    transition: 2s;
    margin-left: -100%;
}
#radio2:checked ~ .slider{
    transition: 2s;
    margin-left: -1050px;
}

#radio3:checked ~ .slider{
    transition: 2s;
    margin-left: -1930px;
}
#radio4:checked ~ .slider{
    transition: 2s;
    margin-left: -2810px;
}
#radio5:checked ~ .slider{
    transition: 2s;
    margin-left: -3690px;
}
#radio6:checked ~ .slider{
    transition: 2s;
    margin-left: -4570px;
}
#radio7:checked ~ .slider{
    transition: 2s;
    margin-left: -5450px;
}

/*BANNER ABOUT US AND Q&A*/
.bannerABQ{
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.btnABQ{
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    position: absolute;
}
.bannerABQ button{
    border-style: none;
    font-family:osb;
    border-radius: 1.5vw;
    padding: 10px;
    color: #ffffff;
    
    background-color: #2188b9;   
}
.blockQA{
    margin-top: 20px;
}
.blockAboutUs, .blockQA{
    padding: 20px;
    width: 70vw;
    height: 300px;
    text-align: center;

}
.blockAboutUs p:nth-child(1), .blockQA p:nth-child(1){
    font-size: 50px;

}
.blockAboutUs p:nth-child(2), .blockQA p:nth-child(2){
    font-size: 12px;
    margin-top: -20px;
}
  }
